#break-label,
#session-label{
  display: inline,
}

.down,
.up{
  margin: 10px;
  font-family: Snell Roundhand, cursive;
}

.display-5{
  font-size: 30px;
  text-size-adjust: auto;
  font-family: Helvetica;

}

/* #time-left{
  color:red
} */



